@import "tailwindcss";
@import "tailwind-animations";

@theme inline {
	--font-general-sans: var(--font-general-sans);
	--font-stardom: var(--font-stardom);
}

* {
	@apply border-neutral-700;
}

html {
	scrollbar-gutter: stable;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-balance;
}

p {
	@apply text-pretty;
}
