@import "tailwindcss";

@theme inline {
	--font-dm-serif-display: var(--font-dm-serif-display);
	--font-figtree: var(--font-figtree);
}

* {
	@apply border-neutral-700;
}

html {
	scrollbar-gutter: stable;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-balance;
}

p {
	@apply text-pretty;
}
