@import url("@fontsource-variable/plus-jakarta-sans");
@import url("@fontsource-variable/jetbrains-mono");

:root {
  /* FontSource Fonts */
  --ifm-font-family-base: "Plus Jakarta Sans Variable", sans-serif;
  --ifm-font-family-monospace: "JetBrains Mono Variable", monospace;

  scrollbar-gutter: stable;
}

.alert--secondary {
  /* TailwindCSS Cyan */
  --ifm-alert-background-color-highlight: #164e63; /* 900 */
  --ifm-alert-background-color: #083344; /* 950 */
  --ifm-alert-border-color: #06b6d4; /* 500 */
  --ifm-alert-foreground-color: #67e8f9; /* 300 */
}

.alert--success {
  /* TailwindCSS Emerald */
  --ifm-alert-background-color-highlight: #064e3b; /* 900 */
  --ifm-alert-background-color: #022c22; /* 950 */
  --ifm-alert-border-color: #10b981; /* 500 */
  --ifm-alert-foreground-color: #6ee7b7; /* 300 */
}

.alert--info {
  /* TailwindCSS Indigo */
  --ifm-alert-background-color-highlight: #312e81; /* 900 */
  --ifm-alert-background-color: #1e1b4b; /* 950 */
  --ifm-alert-border-color: #6366f1; /* 500 */
  --ifm-alert-foreground-color: #a5b4fc; /* 300 */
}

.alert--warning {
  /* TailwindCSS Amber */
  --ifm-alert-background-color-highlight: #78350f; /* 900 */
  --ifm-alert-background-color: #451a03; /* 950 */
  --ifm-alert-border-color: #f59e0b; /* 500 */
  --ifm-alert-foreground-color: #fcd34d; /* 300 */
}

.alert--danger {
  /* TailwindCSS Rose */
  --ifm-alert-background-color-highlight: #881337; /* 900 */
  --ifm-alert-background-color: #4c0519; /* 950 */
  --ifm-alert-border-color: #f43f5e; /* 500 */
  --ifm-alert-foreground-color: #fda4af; /* 300 */
}

details {
  border: var(--ifm-alert-border-width) solid var(--ifm-alert-border-color) !important;
  border-left-width: var(--ifm-alert-border-left-width) !important;
  border-radius: var(--ifm-alert-border-radius) !important;

  summary {
    font-family: var(--ifm-heading-font-family);
    font-size: var(--ifm-h5-font-size);
    font-weight: var(--ifm-heading-font-weight);
    text-transform: uppercase;
  }
}

table {
  width: 100% !important;
}
