NUXT_PUBLIC_BASE_URL = "http://localhost:3000"

NUXT_AUTH_SECRET = ""

NUXT_CLIENT_ID = ""
NUXT_CLIENT_SECRET = ""
NUXT_CLIENT_TOKEN = ""

NUXT_ENCRYPTION_KEY = ""

NUXT_MONGO_DB_COLLECTION_NAME = ""
NUXT_MONGO_DB_CONNECTION_URL = ""
NUXT_MONGO_DB_DATABASE_NAME = ""
NUXT_MONGO_DB_PASSWORD = ""
NUXT_MONGO_DB_USER = ""

NUXT_SESSION_KEY = ""
